doctype html
html(lang='en')
  head
   link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
   link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href='#') Node task
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/mens') Men
          li.nav-item
             a.nav-link(href='/womens') Women

    block content

    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/static/javascripts/hide-and-show.js")
    script(src='/static/javascripts/currency-request.js')
    script(src="/libs/bootstrap/dist/js/bootstrap.js")