extends _layout

block content
    ol.breadcrumb
      li.breadcrumb-item
        a(href='#') Home
      li.breadcrumb-item.active 
        a(href='/' + category)
         = category
      li.breadcrumb-item.active 
       a(href='/products/' + subcategory)
         = subcategory
      li.breadcrumb-item.active
        = product.name
       
    - let price = product.price.toFixed(2);

    .container
        .jumbotron
          .row.product
            div.pull-left.image-container.col-md-7
              img.product-image(src='/static/images/' + product.image_groups[0].images[0].link)
            div.col-md-5
              span 
                h1
                  = product.name
              p.lead
                != product.long_description
              span.price Price:
                = price
              span
                .form-group
                  select.custom-select
                    option(selected='' value='USD') USD
                    option(value='BGN') BGN
                    option(value='EUR') EUR
                    option(value='GBP') GBP
              span
                a.btn.btn-primary(style="margin-left: 0%; color: white;") Buy now