extends _layout

block content
    ol.breadcrumb
      li.breadcrumb-item
        a(href='#') Home
      li.breadcrumb-item.active 
        = mainCategory.name

    div.main-category
        h1 
         = mainCategory.page_title

        div
         = mainCategory.page_description
        
        div.categories.d-none
          each category in mainCategory.categories
            div.category
                img(src= '/static/images/' + category.image)
                div 
                  = category.page_description
            a.btn.btn-primary(href='/products/' + category.id) View Products
            hr


    