extends _layout

block content
    img.page-not-found-image(style="-webkit-user-select: none;background-position: 0px 0px, 10px 10px;background-size: 20px 20px;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%); margin-left: 25%; margin-top: 5%;" src="https://cdn.dribbble.com/users/469578/screenshots/2597126/404-drib23.gif")