extends _layout

block content
    ol.breadcrumb
      li.breadcrumb-item
        a(href='#') Home
      li.breadcrumb-item.active
       a(href='/' + category) 
        = category
      li.breadcrumb-item.active 
        = subcategory
    
    each product in products
      - let price = product.price.toFixed(2);
      .container
        .jumbotron
          .row.product
            div.pull-left.image-container.col-md-7
              img.product-image(src='/static/images/' + product.image_groups[0].images[0].link)
            div.col-md-5
              span 
                h1
                  = product.name
              p.lead
                != product.short_description
              span Price: $ 
                = price 
              a.btn.btn-primary(style="margin-left: 20%; color: white;" href="/product/" + product.name) More Info
                   
