.main-category {
    width: 160%;
    height: 1000%;
    padding: 10%;
}

.category {
    width: 90%;
    height: 50%;
}

.sub-category {
    margin-top: 1%;
    margin-left: 4%;
}

.product {
    margin-top: 3%;
    margin-left: 7%;
    width: 80%;
}

.product-image {
    margin-left: 10%;
}

.category {
    margin-top: 2%;
}

.category div {
    width: 1000px;
}

.btn {
    margin-top: 1%;
}

hr {
    width: 1000px;
    margin-right: 64%;
    border-top: 2px solid black;
}

.breadcrumb {
    width: 40%;
    margin-left: 10%;
    margin-top: 1%;
}

.product-td {
    width: 500px;
}

.product-container {
    width: 98%;
}

.page-not-found-image {
    margin-left: 30%;
}

.form-group {
    display: inline-block;
    margin-left: 40px;
    margin-right: 15px;
}